<div class="quadro">
  <div class="quadro-body">
    <h2 class="quadro-header">{{ quadroDetalhes?.nome }}</h2>

    <form [formGroup]="formCard" (ngSubmit)="onSubmit()">
      <h2>Criar Card</h2>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field *ngIf="quadros && quadros.length > 0">
            <mat-label>Atribuir card a qual quadro?</mat-label>
            <mat-select placeholder="Selecione um Quadro" formControlName="quadroId" name="quadroSelecionado" required
              (selectionChange)="onSelectQuadro($event)">
              <mat-option *ngFor="let quadro of quadros" [value]="quadro.quadroId">
                {{ quadro.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="title" type="text" placeholder="Título" name="titulo" required>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput formControlName="description" placeholder="Descrição" name="descricao"
              required></textarea>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Prazo do Card" name="prazo">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Atribuído a:</mat-label>
            <mat-select placeholder="Selecione um usuário" formControlName="assignedTo" required
              (selectionChange)="onSelectUser($event)">
              <mat-option *ngFor="let usuario of usuarios" [value]="{ uid: usuario.uid, email: usuario.email }">
                {{ usuario.nome }} ({{ usuario.email }})
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-label>Estado do Card</mat-label>
            <mat-select formControlName="estado">
              <mat-option value="Backlog">Backlog</mat-option>
              <mat-option value="A fazer">A fazer</mat-option>
              <mat-option value="Em Andamento">Em Andamento</mat-option>
              <mat-option value="Feito">Feito</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Urgência:</mat-label>
            <mat-select name="labels" formControlName="labels" multiple>
              <mat-option *ngFor="let label of selectedLabels" [value]="label">{{ label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Campo de entrada para fazer upload de imagens -->
          <!-- <div class="form-group file-input-container">
            <label for="image" class="label-image">Selecione uma imagem:</label>
            <input type="file" class="form-control-file custom-file-input" id="image" (change)="onFileSelected($event)">
          </div>
           -->
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">Criar Card</button>
    </form>

    <div class="card-container">
      <div *ngFor="let card of quadroDetalhes?.cards || []" class="card">
        <div class="card-header">{{ card.title }}</div>
        <div class="card-body">
          <p class="card-description">{{ card.description }}</p>
          <div *ngIf="card">
            <div>Atribuído a: {{ card.assignedTo || 'Nenhum' }}</div>
            <div>Etiquetas: {{ card.labels ? card.labels.join(', ') : 'Nenhuma' }}</div>
            <div class="button-container">
              <button mat-raised-button color="primary" (click)="editarCard(card, userId!, quadroId)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>