.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: height 0.3s ease;
  
  /* Adiciona um efeito de transição suave */
  .card-header {
    background-color: #20466d;
    display: flex;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding: 20px;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 5px;

      button {
        width: 100%;
        max-width: 320px;
      }
    }

    .card-description {
      margin-bottom: 10px;
    }

    .assigned-to {
      margin-bottom: 10px;

      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }

    .due-date,
    .labels,
    .description,
    .urgencia,
    .comments {
      margin-top: 10px;
    }

    .comments ul {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      padding-left: 0px;

    }

    .comments li {
      background: #cccccc3a;
      border-radius: 7px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
  }

}

.card.is-expanded .card-body {
  display: block;
  /* Mostra o corpo do card quando o card está expandido */
}

.card.is-expanded {
  height: auto;
  /* Define a altura como automática quando o card está expandido */
}

h3 {
  font-size: 30px;
  margin: 0px;
}

span {
  font-weight: 700;
  font-size: 14px;
}