.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: height 0.3s ease;

  /* Adiciona um efeito de transição suave */
  .card-header {
    background-color: #20466d;
    display: flex;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    .card-description {
      margin-bottom: 10px;
    }

    .assigned-to {
      margin-bottom: 10px;

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-left: 10px;
        }
      }
    }

    .due-date,
    .labels,
    .description,
    .urgencia,
    .comments {
      margin-top: 10px;
    }

    .comments ul {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      padding-left: 0px;

    }

    .comments li {
      background: #cccccc3a;
      border-radius: 7px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
  }

}

.card.is-expanded .card-body {
  display: block;
  /* Mostra o corpo do card quando o card está expandido */
}

.card.is-expanded {
  height: auto;
  /* Define a altura como automática quando o card está expandido */
}

h3 {
  font-size: 30px;
  margin: 0px;
}

span {
  font-weight: 700;
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  align-items: center;

  button {
    width: 100%;
    max-width: 320px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

/* Estilos para a lista de imagens */
.image-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para cada imagem */
.image-container {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Estilos para a imagem */
.thumbnail {
  width: 100px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Estilos para o botão de remoção */
.remove-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0;
  /* Inicialmente oculto */
  font-size: 12px;
  /* Define o tamanho do ícone pela metade */
}

/* Mostrar o botão de remoção quando o mouse passar sobre a imagem */
.image-container:hover .remove-icon {
  opacity: 1;
}

/* Animação suave ao mostrar e ocultar o botão de remoção */
.remove-icon {
  transition: opacity 0.2s ease;
}