<div *ngIf="quadroDetalhes">
  <h2>{{ quadroDetalhes.nome }}</h2>
  <p>ID: {{ quadroDetalhes.id }}</p>

  <div class="card-container">
    <!-- Verifica se quadroDetalhes.cards é um array antes de tentar iterar -->
    <div *ngIf="quadroDetalhes.cards && quadroDetalhes.cards.length > 0">
      <div *ngFor="let card of quadroDetalhes.cards" class="card">
        <div class="card-header">{{ card.title }}</div>
        <div class="card-body">
          <p class="card-description">{{ card.description }}</p>
          <div *ngIf="card.isExpanded">
            <div>Atribuído a: {{ card.assignedTo }}</div>
            <div>Etiquetas: {{ card.labels.join(', ') }}</div>
            <div class="button-container">
              <button mat-raised-button color="primary">Editar</button>
              <button mat-raised-button color="warn">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Adicione uma mensagem caso não haja cards disponíveis -->
    <div *ngIf="quadroDetalhes.cards && quadroDetalhes.cards.length === 0">
      Não há cards disponíveis neste quadro.
    </div>
  </div>
</div>
