<nav *ngIf="isUsuarioAutenticado()"
  class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
        src="../../../../assets/img/logo/logo-quadro.png" width="170px"
        alt="Voupra"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-raised-button color="primary" (click)="openDialog()">Criar Quadros</button>
        </li>
      </ul>
      <div class="right-row">
        <ul class="navbar-nav">
          <li class="nav-item_last">
            <span class="mr-3 d-flex">Abrir Quadros:</span>
            <select class="form-select d-flex"
              (change)="changeId($event.target)">
              <option value disabled selected>Selecione um quadro</option>
              <option *ngFor="let quadro of quadros" [value]="quadro.id">{{
                quadro.nome }}</option>
            </select>
          </li>
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <button class="btn btn-outline-danger" type="button"
              (click)="fazerLogout()">Sair</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>