<div class="home" *ngIf="!loading">
  <div class="shadow">
    <app-navbar
      (quadroSelecionado)="carregarDetalhesQuadro($event)"></app-navbar>
  </div>
  <div class="container" cdkDropListGroup>
    <div class="example-container">
      <h2>Backlog</h2>
      <div
        cdkDropList
        [cdkDropListData]="cardsTeste"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of cardsTeste; track item) {
        <div class="example-box" cdkDrag (click)="openCardModal(item)">   <div class="card-header">
            {{item}}
          </div></div>
        }
      </div>
    </div>
    <div class="example-container">
      <h2>A fazer</h2>
      <div
        cdkDropList
        [cdkDropListData]="cardsAfazer"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of cardsAfazer ; track item) {
        <div class="example-box" cdkDrag (click)="openCardModal(item)">   <div class="card-header">
            {{item}}
          </div></div>
        }
      </div>
    </div>
    <div class="example-container">
      <h2>Em Andamento</h2>
      <div
        cdkDropList
        [cdkDropListData]="cardsAndamento"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of cardsAndamento ; track item) {
        <div class="example-box" cdkDrag (click)="openCardModal(item)">   <div class="card-header">
            {{item}}
          </div></div>
        }
      </div>
    </div>

    <div class="example-container">
      <h2>Feito</h2>
      <div
        cdkDropList
        [cdkDropListData]="cardsFeito"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of cardsFeito ; track item) {
        <div class="example-box" cdkDrag (click)="openCardModal(item)">   <div class="card-header">
            {{item}}
          </div></div>
        }
      </div>
    </div>

  </div>
</div>

<div class="backdrop" *ngIf="loading">
  <div class="logo">
    <img src="../../../../assets/img/logo/logo-quadro.png" alt>
  </div>
  <div class="loading">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
</div>